header {
  height: 60px;
  background-color: #2e3a46;

  .header-container {
    @include container;
    @include flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .logo {
      img {
        width: 40px;
      }
    }

    .music-select {
      select {
        outline: 0;
        border-radius: 10px;
        padding: 5px;
        color: white;
        background-color: #1e2d3b;
        border: 1px solid #1e2d3b;
      }
    }
  }
}
