main {
  height: calc(100vh - 60px);
  padding-top: 30px;
  background-color: #1e2d3b;
  text-align: center;

  .disc-list {
    @include container;
    @include flex;

    .disc {
      width: 150px;
      background-color: #2e3a46;
      margin: 10px 20px;
      padding: 15px;

      img {
        width: 120px;
      }
    }
  }
}
